/boot/home/projects/TaskPad/(Objects.TaskPad)/App.o
/boot/home/projects/TaskPad/(Objects.TaskPad)/MainWindow.o
/boot/home/projects/TaskPad/(Objects.TaskPad)/TaskList.o
/boot/home/projects/TaskPad/Taskpad
/boot/home/projects/TaskPad/.DS_Store
